		body {
            background-color: #3745c2;
            margin: 200px 40%;
        }
        form {
            background-color: #4654e1;
            width: 300px;
            height: 44px;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        input {
            all: unset;
            font: 16px system-ui;
            color: #fff;
            height: 100%;
            width: 100%;
            padding: 6px 10px;
        }
        ::placeholder {
            color: #fff;
            opacity: 0.7; 
        }
		input:-webkit-autofill {
			background-color: #4654e1;
			width: 300px;
            height: 30px;
			border-radius: 5px;
		}
		::autofill {
			background-color: #4654e1;
			width: 300px;
            height: 30px;
			border-radius: 5px;
		}
        button {
            all: unset;
            cursor: pointer;
            width: 44px;
            height: 44px;
        }
		button.single {
			all: unset;
            font: 16px system-ui;
            color: #fff;
            height: 100%;
            width: 100%;
            padding: 6px 10px;
		}
		button.single:hover{
			cursor: pointer;
		}
		
        svg {
            color: #fff;
            fill: currentColor;
            width: 24px;
            height: 24px;
            padding: 10px;
        }
		a:link, a:visited {
			background-color: #3745c2;
			color: white;
			padding: 14px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}
		a:hover, a:active {
			background-color: #3745c2;
		}
		